.features {
  background-image: linear-gradient(-150deg, #fcfcfc 35%, #eaeaea 75%);
  padding-bottom: 3rem;

  .features-block {
    padding-top: 3rem;

    .container {
      margin: 0 auto;
      max-width: 900px;
      width: 80%;
    }

    h2 {
      text-align: center;
      margin-top: .5rem;
    }
  }
}
