.page-header {
  text-align: center;
}

.page-title {
  background: image-url('/images/ruma-chat-bubble.svg') no-repeat center;
  background-size: 17rem 9rem;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: .2rem;
  padding: 1rem 3rem 2rem;
}
