nav {
  background: rgb(0, 0, 0);
  padding: 1rem;

  ul {
    list-style: none;
    margin: 0;
    overflow: hidden;

    li {
      float: right;
      text-align: right;
    }

    li.home {
      float: left;
      text-align: left;
    }

    a {
      color: rgb(255, 208, 0);
      text-decoration: none;
    }
  }
}
