.content {
  background: #eaeaea;
}

section.news {
  margin: 0 auto;
  max-width: 900px;
  padding: 3rem 3rem 0 3rem;
  width: 80%;
}

article.news {
  padding-bottom: 3rem;
}

.pagination {
  text-align: center;

  span {
    margin: 1rem;
  }
}
