@keyframes drop-in {
  from {
    opacity: 0;
    top: -7rem;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.page-header {
  text-align: center;
}

.page-title {
  background: image-url('/images/ruma-chat-bubble.svg') no-repeat center;
  background-size: 17rem 9rem;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
  padding: 1rem 3rem 2rem;

  .char1 {
    animation: drop-in 1s ease;
    position: relative;
  }

  .char2 {
    animation: drop-in 1.2s ease;
    position: relative;
  }

  .char3 {
    animation: drop-in 1.4s ease;
    position: relative;
  }

  .char4 {
    animation: drop-in 1.6s ease;
    position: relative;
  }
}

.page-subheading {
  color: #444;
}
