.page-header {
  background: rgb(255, 208, 0);
  padding: 3rem;
  text-align: center;
}

.page-title {
  background: image-url('/images/ruma-chat-bubble.svg') no-repeat center;
  background-size: 17rem 9rem;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: .2rem;
  margin: 0;
  padding: 1rem 1.5rem 2rem 2rem;

  @media screen and (max-width: 640px) {
    background-size: 13rem 7rem;
  }
}

.page-subheading {
  color: #444;
  margin: 1rem 0 0;
}
