!!! 5
%html
  %head
    %meta{ content: 'IE=edge', http_equiv: 'X-UA-Compatible' }
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', name: 'viewport' }
    %title= current_page.data.title || "Ruma - A Matrix homeserver written in Rust."
    %meta{ content: 'Ruma is a Matrix homeserver written in the Rust programming language.', name: 'description' }
    %link{ rel: 'canonical', href: full_url_for(current_page.url) }
    %link{ rel: 'alternate', type: 'application/atom+xml', href: url_for('/news/feed.atom') }
    = stylesheet_link_tag :site
  %body{ class: page_classes }
    = partial "nav"
    = yield
