---
title: Ruma Documentation
---

.container
  .page-header
    %h1 Ruma Documentation

  %p.lead <strong>Ruma</strong> is a Matrix homeserver, client and supporting libraries written in the Rust programming language.

  %p This site contains an introduction to Matrix and a guide to using Ruma. Choose a guide below to begin.

  .row.spacer
    .col-md-6
      %h2= link_to 'Introduction to Matrix', '/docs/matrix/'

      %p If you're new to Matrix and want to learn how to use it, this is the place to start.

      %p Topics include an overview of the protocol, its major features, and a discussion of what problems it solves.

    .col-md-6
      %h2 Running the Ruma homeserver

      %p
        %em Coming soon.

      %p Once you understand Matrix and want to run your own homeserver with Ruma, this guide will tell you how.

      %p Topics include configuration, deployment, and management.
