.site-nav {
    background: var(--navbar-bg);
    font-weight: 500;

    ul {
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: flex-end;

        list-style: none;
    }

    a {
        display: inline-block;
        padding: .8em .65em;

        color: var(--navbar-link-color);
        text-decoration: none;

        &:hover {
            color: var(--navbar-link-hover-color);
        }
    }
}
