{% extends "skel.html" %}
{% block html_title %}{{ section.title }} | Ruma{% endblock html_title %}
{% block content %}

<main class="content">
    <h1 class="section-title">
        {{ section.title }}
        <a href="/news/feed.xml">{% include "includes/rss.svg.html" %}</a> 
    </h1>
    {{ section.content | safe }}

    {% for page in paginator.pages %}
        <article itemscope itemtype="http://schema.org/BlogPosting">
            {% include "includes/post_header.html" %}
            {{ page.content | safe }}
        </article>
    {% endfor %}
</main>

{% include "includes/pagination.html" %}

{% endblock content %}
