{% extends "skel.html" %}
{% block html_title %}{{ page.title }} | Ruma{% endblock html_title %}
{% block content %}

{% set section = get_section(path = page.ancestors | last) %}
{% set repo = "https://github.com/ruma/ruma" %}
{% set crate = page.extra.crate %}

<h1 class="section-title">{{ section.title }}</h1>

<div class="section-nav-content-wrap">
    {% include "includes/section_nav.html" %}

    <main class="content">
        <h2 class="page-title">{{ page.title }}</h2>
        {{ page.content | safe }}
        <p>Links:</p>
        <ul>
            <li><a href="https://crates.io/crates/{{ crate }}">crates.io page</a></li>
            <li><a href="https://docs.rs/{{ crate }}">Documentation</a></li>
            <li><a href="{{ repo }}/tree/master/{{ crate }}">Code</a></li>
            <li>
                <a href="{{ repo }}/issues?q=is%3Aissue+is%3Aopen+label%3Acrate%2F{{ crate }}">
                    Issues
                </a>
            </li>
        </dl>
    </main>
</div>

{% endblock content %}
