%nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Home", '/', title: "Home"
      %li= link_to "News", '/news/', title: "News"
      %li= link_to "Documentation", '/docs/', title: "Documentation"
