%article.ruma-news{ itemscope: true, itemtype: "http://schema.org/BlogPosting" }
  %meta{ itemprop: "author", content: "Jimmy Cuadra" }
  %header
    %h1{ itemprop: "headline" }
      = link_to news.title, news.url, title: news.title
      %small{ itemprop: "datePublished", value: news.date.strftime("%Y-%m-%d") }= news.date.strftime(news.metadata[:page]["type"] == "year" ? "%Y" : "%B %d, %Y")
  ~ news.body
