---
title: Ruma - Matrix.org components written in Rust.
---

%header.page-header
  %h3.page-title Ruma
  %h2.page-subheading Matrix.org components written in Rust.

%section.features-block
  %ul
    %li
      %h2 Matrix.org
      %p Keep all the power of your current messenging application, in your hands instead of some powerful corporation. Your chat history gets to stay on your servers.
    %li
      %h2 Rust
      %p Memory safety, security, performance, and has a rich type system. It's obvious why this is the language of choice when developing a new communication tool.
    %li
      %h2 Ruma
      %p Built with security as it's top priority so that you can rest assured of your privacy, and scalable like you wouldn't believe.

%section.project-links
  %ul
    %li
      %a{href: 'https://github.com/ruma', class: 'github'} Ruma @ Github
      %p Visit the project github page to get more information on the components

    %li
      %a{href: 'https://twitter.com/ruma_io', class: 'twitter'} Ruma @ Twitter
      %p Keep up with the latest news and community chatter via twitter.
