---
title: Ruma - Matrix applications and libraries written in the Rust programming language.
---

%header.ruma-header
  %h2.ruma-title Ruma
  %h3.ruma-subheading Matrix applications and libraries written in the Rust programming language.

.container
  .row
    .col-md-8.col-md-offset-2
      %h3.text-center What is Matrix?
      %p Matrix is an open specification for an online communication protocol. It includes all the features you'd expect from a modern chat platform including instant messaging, group chats, audio and video calls, searchable message history, synchronization across all your devices, and end-to-end encryption. Matrix is federated, so no single company controls the system or your data. You can use an existing server you trust or run your own, and the servers synchronize messages seamlessly. Learn more in the <a href="/docs/matrix/">Introduction to Matrix</a>.

  .row
    .col-md-8.col-md-offset-2
      %h3.text-center What is Rust?
      %p Rust is a systems programming language from Mozilla built with safety, concurrency, and performance in mind. Its novel approach to memory safety and its rich type system make it an excellent choice for writing fast, secure, and reliable programs. Learn more at <a href="https://www.rust-lang.org/">The Rust Programming Language</a>.

  .row
    .col-md-8.col-md-offset-2
      %h3.text-center What is Ruma?
      %p Ruma is a collection of Matrix applications and libraries written in Rust. Ruma's approach to Matrix emphasizes correctness, security, stability, and scalability. Read and download Ruma source code on <a href="https://github.com/ruma">GitHub</a>. Get caught up with the latest developments in the <a href="/news/">news</a> and on <a href="https://twitter.com/ruma_io">Twitter</a>. Join the discussion in <a href="https://matrix.to/#/#ruma:matrix.org">#ruma:matrix.org</a>.
